/* menu desplegable */
body {
    background-color: darkgrey;
}

#menu {
    color: orange;
    }

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

input {
    display: none;
}

a {
    text-decoration: none;
}

input:checked  ~ ul{
    display:block;
}

label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }

label:hover {
    cursor: pointer;
}

ul {
    display: none;
}

li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid rgb(224, 150, 11);
    border-radius: 5px;
}